<nav>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap flex>
            <md-list>
                <md-list-item>
                    <md-button><a href="/#!/purchase">For Sale Listings</a></md-button>
                </md-list-item>
                <md-list-item>
                    <md-button><a href="/#!/rental">For Rent Listings</a></md-button>
                </md-list-item>
            </md-list>
            </section>
    </md-content>
</nav>