<section layout="row" flex>
    <md-content>
    <div layout="row" flex layout-align="center center" class="md-raised md-primary">
        <h2>For Sale Listings</h2>
    </div>
    <section>
        <div layout="row" flex>
            <h3>Add Your Sale Listing</h3>
        </div>
        <div class="inputDiv" layout="row" flex>
            <md-input-container>
                <input type="number" ng-model="vm.newListing.cost" placeholder="Cost">
            </md-input-container>
            <md-input-container>
                <input type="number" ng-model="vm.newListing.sqft" placeholder="Square Feet">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <md-select ng-model="vm.newListing.type">
                    <label>Rental or Sale?</label>
                    <md-option value="rent">
                        Rent
                    </md-option>
                    <md-option value="sale">
                        Sale
                    </md-option>
                </md-select>
            </md-input-container>
            </md-input-container>
            <md-input-container>
                <input type="text" ng-model="vm.newListing.city" placeholder="City">
            </md-input-container>
                <md-button ng-click="vm.addListing(vm.newListing)"
                           class="md-raised md-primary">
                    Add Listing
                </md-button>
            </md-input-container>
        </div>
    </section>
        <table>
            <thead>
                <tr>
                    <th>
                        Cost
                    </th>
                    <th>
                        Square Feet
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody ng-repeat="listing in vm.allListings.list
                            | filter: {type: 'sale'} ">
                <tr>
                    <td>
                        {{listing.cost}}
                    </td>
                    <td>
                    {{listing.sqft}}
                    </td>
                    <td>
                        {{listing.type}}
                    </td>
                    <td>
                        {{listing.city}}
                    </td>
                    <td>
                        <button ng-click="vm.removeListing(listing)">
                            Remove Listing
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-content>
</section>