<section>
    <h2>Purchase Listings</h2>
  <table>
      <thead>
          <tr>
              <th>
                  Cost
              </th>
              <th>
                  Square Feet
              </th>
              <th>
                  Type
              </th>
              <th>
                  City
              </th>
          </tr>
      </thead>
      <tbody ng-repeat="listing in vm.purchaseListings.list">
            <tr>
                <td>
                    {{listing.cost}}
                </td>
                <td>
                    {{listing.sqft}}
                </td>
                <td>
                    {{listing.type}}
                </td>
                <td>
                    {{listing.city}}
                </td>
            </tr>
      </tbody>
  </table>
</section>