<section>
        <h2>Rental Listings</h2>
        <section>
                <h3>Add Your Rental Listing</h3>
                <div>
                    <input type="number" ng-model="vm.newRentalListing.cost" placeholder="Cost">
                    <input type="number" ng-model="vm.newRentalListing.sqft" placeholder="Square Feet">
                    <input type="text" ng-model="vm.newRentalListing.type" placeholder="Type of Listing">
                    <input type="text" ng-model="vm.newRentalListing.city" placeholder="City">
                    <button ng-click="vm.addRentalListing(vm.newRentalListing)">
                        Add Listing
                    </button>
                </div>
            </section>
      <table>
          <thead>
              <tr>
                  <th>
                      Cost
                  </th>
                  <th>
                      Square Feet
                  </th>
                  <th>
                      Type
                  </th>
                  <th>
                      City
                  </th>
                  <th>
                      Remove 
                  </th>
              </tr>
          </thead>
          <tbody ng-repeat="listing in vm.rentalListings.list">
                <tr>
                    <td>
                        {{listing.cost}}
                    </td>
                    <td>
                        {{listing.sqft}}
                    </td>
                    <td>
                        {{listing.type}}
                    </td>
                    <td>
                        {{listing.city}}
                    </td>
                    <td>
                        <button ng-click="vm.removeRentalListing(listing)">
                            Remove Listing
                        </button>
                    </td>
                </tr>
          </tbody>
      </table>
    </section>